.popup__error {
  display: block;
  min-height: 30px;
  margin-top: 4px;

  font-size: 12px;
  line-height: 1.2;
  color: #f00;

  visibility: hidden;
}

@media (max-width:580px) {
  .popup__error {
    min-height: 28px;
    font-size: 11px;
  }
}
