.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  background-color: rgb(0, 0, 0);
}

.title {
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 900;
}

.form {
  width: 90%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input {
  margin-top: 30px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #ccc;

  color: #fff;
  font-size: 14px;
  line-height: 1.6;
}
.input:first-of-type {
  margin-top: 50px;
}

.button {
  margin-top: 214px;
  width: 100%;
  min-height: 50px;

  border: none;
  border-radius: 2px;

  font-size: 18px;
  font-weight: 400;
  word-break: break-word;

  cursor: pointer;
}

.link {
  margin-top: 14px;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}



