.header {
  margin: 0 auto;
  width: 100%;
  padding: 45px 0 40px;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 920px) {
  .header {
    padding: 28px 27px 30px;
  }
}
